:root {
    --primary-color: #2196f3;
    --secondary-color: #8a8a8e;
    --background-color: #f2f2f3;
    --text-color: #212529;
    --input-border-color: #dcdee2;
    --input-focus-border-color: #57a3f3;
    --btn-bg-color: #2196f3;
    --btn-text-color: #fff;
    --border-radius: 6px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans", Roboto, "Helvetica Neue", Helvetica, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 12px;
    width: 100%;
    max-width: 420px;
    box-sizing: border-box;
}

.auth-container__content {
    width: 100%;
    margin: auto;
}

.auth-logo__image {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.auth-container__body {
    width: 100% ; /* Add a fixed width */
    max-width: 400px;
    min-width: 300px;
    margin: auto;
    padding: 40px 30px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 12px 15px rgba(0, 0, 0, 0.06), 0 17px 50px rgba(0, 0, 0, 0.02);
    box-sizing: border-box;
}

.tabs-menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

.tabs-item {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 16px;
    position: relative;
    transition: color 0.3s;
}

.tabs-item.is-active {
    color: var(--text-color);
}

.tabs-item.is-active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: var(--primary-color);
}

.tabs-item:hover {
    color: var(--text-color);
}

.auth-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-label {
    color: var(--secondary-color);
    text-align: center;
}

.form-input {
    position: relative;
    display: flex;
    flex-direction: column;
}

.form-input__field {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    transition: border-color 0.2s ease-in-out;
    box-sizing: border-box;
}

.form-input__field:focus {
    border-color: var(--input-focus-border-color);
    outline: none;
}

/* Кнопка "Войти" */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--btn-text-color);
    background-color: var(--btn-bg-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 100%;
    height: 40px;
}

.btn:hover {
    background-color: #1976d2;
}

/* Кнопки соцсетей */
.btn_fab {
    border-radius: 8px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    cursor: pointer;
    background-color: var(--secondary-color); /* Фоновый цвет для теста */
    overflow: hidden; /* Добавляем, чтобы иконка не выходила за пределы кнопки */
}

/* Ограничиваем размер иконок внутри кнопок */
.btn_fab img, .btn_fab i {
    max-width: 100%;
    max-height: 100%;
    width: 24px;
    height: 24px;
}

/* Цвета кнопок соцсетей */
.brand-color_vk {
    background-color: #5181b8;
}

.brand-color_twitter {
    background-color: #4A99E9;
}

.brand-color_facebook {
    background-color: #3875E9;
}

.brand-color_google {
    background-color: #D7503F;
}

/* Добавляем hover для соцсетей */
.brand-color_vk:hover {
    background-color: #4c75a3; /* VK color on hover */
}

.brand-color_twitter:hover {
    background-color: #398ae3; /* Twitter color on hover */
}

.brand-color_facebook:hover {
    background-color: #2d5fb3; /* Facebook color on hover */
}

.brand-color_google:hover {
    background-color: #c44638; /* Google color on hover */
}

.btns_group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.auth-footer {
    margin-top: 40px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.auth-footer a {
    color: var(--primary-color);
    text-decoration: none;
}

.auth-footer a:hover {
    text-decoration: underline;
}

.auth-footer-forgot {
    margin-top: 10px;
}

@media (max-width: 600px) {
    .auth-container__body {
        padding: 30px 20px;
    }

    .tabs-item {
        padding: 8px 10px;
        font-size: 14px;
    }

    .btn_fab {
        width: 36px;
        height: 36px;
    }

    .btn_fab i {
        font-size: 18px; /* Уменьшаем размер иконки на мобильных */
    }

    .form-input__field {
        padding: 8px;
        font-size: 13px;
    }
}